body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root {
  min-height: 100vh;
  font-size: 15px;
  font-weight: 600;
  color: #323232;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;

  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #323232;
  background-color: #ffc617;

  &:hover {
    background-color: #eeb60c;
  }
}

a {
  color: #438feb;
  text-decoration: none;
}

#root {
  background-image: url('../../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.wrapper, main, section {
  min-height: 100vh;
}

.form {
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  min-width: 490px;
  padding: 65px 50px;
  box-sizing: border-box;
}

h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.logo {
  position: absolute;
  left: 25%;
  animation: side 1s;
  top: 50%;
  transform: translate(0, -50%);
}

@keyframes side {
  from {
    left: -75%
  }
  to {
    left: 25%
  }
}

.form-error {
  color: red;
  font-size: 12px;
  font-weight: 400;
}
