.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    &__nav {
        &-list {
            display: flex;

            &-item {
                margin-right: 40px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}