.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 75px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        width: 1170px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        &-list {
            display: flex;

            &-item {
                margin-right: 40px;

                &:last-child {
                    margin-right: 0;
                }

                &-link {
                    color: #323232;
                }
            }
        }
    }
}